/*fonts-sizes
   12 14 16 18 20 22 24 26 28 32
*/

.auth-reg {
    height: 40rem;
    width: 75rem;
    z-index: 2;
    box-shadow: 0 0 20px rgb(34, 34, 34);
    border-radius: 1rem;
    font-size: 2.4rem;
    position: absolute;
    left: 30%;
    top: 200%;
    display: block;
    background: var(--main-white);
    /* overflow: hidden; */
}

.auth-reg--reg {
    height: 48rem;
}

.auth-reg__header {
    height: 5rem;
    font-size: 2.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-blue);
    z-index: 2;
}

.auth-reg__header__title {
    margin-left: 2rem;
}

.icon-close--auth-reg {
    width: 3rem;
    fill: var(--main-white);
    margin-right: 1.5rem;
}

.auth-reg__input-section {
    display: flex;
    flex-direction: column;
    margin: 5rem 0 0 4rem;
}

.auth-reg__input-block {
    display: flex;
    align-items: start;
}

.auth-reg__forgot-password {
    font-size: 2rem;
    color: var(--main-blue);
    padding-left: 4rem;
}

.auth-reg__button-section {
    display: flex;
    justify-content: right;
    margin: 2rem 6rem 0 0;
}

.auth-reg__button {
    padding: 1rem 2rem 1rem 2rem;
    font-size: 2.4rem;
}

.auth-reg__image {
    width: 3rem;
    margin-right: 1rem;
}

.input {
    font-size: 2rem;
    border-radius: 0.3rem;
    border: 0.1rem solid var(--main-black);
    height: 4rem;
    width: 60rem;
}

.auth-reg__input-container {
    display: flex;
    flex-direction: column;
}

.error-p {
    font-weight: 500;
    height: 2.2rem;
    margin: 0.2rem 0 0.2rem 2rem;
    display: inline-block;
    color: var(--main-red);
    font-size: 1.6rem;
}

/*.input::-webkit-input-placeholder,*/
/*.input::-moz-placeholder,*/
/*.input:-moz-placeholder,*/
/*.input:-ms-input-placeholder,*/
/*.input::placeholder,*/
.input::placeholder
{
    padding-left: 1rem;
}
