/*fonts-sizes
   12 14 16 18 20 22 24 26 28 32
*/

.balance-change {
    height: 25rem;
    width: 60rem;
    z-index: 2;
    box-shadow: 0 0 20px rgb(34, 34, 34);
    border-radius: 1rem;
    font-size: 2.4rem;
    position: absolute;
    left: 30%;
    top: 200%;
    display: block;
    background: var(--main-white);
    overflow: hidden;
    color: var(--main-black);
}

.balance-change--delete {
    height: 22rem;
}

.balance-change--operation {
    height: 50rem;
}

.balance-change--operation-add {
    height: 60rem;
}

.balance-change--category-change {
    height: 45rem;
}

.change__block {
    margin-top: 1rem;
    display: flex;
    justify-items: left;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.change__block-title {
    /* margin-top: 1rem; */
}

.change__block-input {
    font-size: 2rem;
    border-radius: 0.3rem;
    border: 0.1rem solid var(--main-black);
    height: 4rem;
    width: 40rem;
}

.balance-change__header {
    height: 5rem;
    font-size: 2.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-blue);
    z-index: 2;
}

.icon-close--balance-change {
    width: 3rem;
    fill: var(--main-white);
    margin-right: 1.5rem;
}

.balance-change__button-section {
    display: flex;
    justify-content: center;
    margin: 2rem 0 0 0;
}

.balance-change__button {
    padding: 1rem 3rem 1rem 3rem;
    margin: 0 2rem 0 2rem;
    font-size: 2.4rem;
}

.button--cancel {
    background-color: var(--main-red);
}

.button--save {
    background-color: var(--main-yellow);
}


/* .balance-change__header-- {
    display: flex;
    justify-content: center;
    color: var(--main-white)
} */

.balance-change__header--3fr {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 3fr 1fr;
}

.balance-change__header__title {
    grid-column: 2/3;
}

.change__block-input--datetime {
    width: 19rem;
    text-align: center;
    margin: 0.5rem 0 0.5rem 0;
}

.change__block-input--date {
    width: 12rem;
    text-align: center;
    margin: 0.5rem 0 0.5rem 0;
}

.change__block__time-block {
    display: flex;
    align-items: flex-start;
    margin-left: 4rem;
    margin-right: 3rem;
}

.time-block--oper-an {
    flex-direction: column;
}

.input-calendar {
    background: url("../../files/images/calendar.svg") no-repeat center;
    width: 4rem;
    height: 4rem;
    border: none;
    color: transparent;
    z-index: 2;
    display: inline-block;
    margin: 0 1rem 0 1rem;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

.input-calendar:hover {
    opacity: 1;
}

.change__block-input--operation-search {
    width: 35rem;
    margin-right: 2rem;
}
