.current-balance {
    display: grid;
    justify-items: center;
    justify-content: center;
    margin: 0 auto 0 auto;
    grid-template-columns: 20rem 20rem 20rem;
    font-size: 2.4rem;
    font-weight: 700;
    border-top: 0.1rem solid var(--main-black);
    border-bottom: 0.1rem solid var(--main-black);
    position: relative;
    z-index: 1;
}

.current-balance::after {
    content: "";
    opacity: 10%;
    background: linear-gradient(to right, var(--main-green) 80%, var(--main-red) 20%);
    top: 0; left: 0; bottom: 0; right: 0;
    position: absolute;
    z-index: -1;
}

.current-balance__elem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-balance__amount--income,
.current-balance__amount--expenses,
.current-balance__amount--result {
    margin: 0 0 1rem 0;
}

.current-balance__title {
    margin: 1rem 0 1rem 0;
}

.current-balance__amount--result {
    color: var(--main-green);
}