/*fonts-sizes
   12 14 16 18 20 22 24 26 28 32
*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    margin: 2% auto 0 auto;
    background-color: var(--main-blue);
    color: var(--main-white);
    border-radius: 10px 10px 0 0;
    font-weight: 700;
    position: relative;
}

.main-title__text {
    font-size: 3.2rem;
}

.main-title {
    margin-left: 2rem;
    transition: all 0.2s ease-in-out;
}

.main-title:hover {
    margin-left: 2rem;
    transform: scale(1.05);
}

.main-title,
.navigation-list,
.header__buttons-section,
.icon-setting {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    text-align: center;
}

.header__buttons-section {
    margin-right: 2rem;
}

.header__buttons-section__user-name {
    font-size: 2.8rem;
    font-weight: 700;
    margin-right: 1rem;
    color: var(--main-black);
}

.navigation-list {
    list-style-type: none;
    font-size: 2.6rem;
    text-transform: uppercase;
}

.navigation-item {
    padding: 1.5rem 3rem 1.5rem 3rem;
    transition: all 0.2s ease-in-out;
}

.navigation-item:hover {
    padding: 1.5rem 3rem 1.5rem 3rem;
    transition: scale(2);
    position: relative;
    background-color: var(--main-blue--hover);
}

.navigation-item:active{
    padding: 1.5rem 3rem 1.5rem 3rem;
    background-color: var(--main-blue--active);
}

.header__button {
    width: 20rem;
    padding: 0.8rem 0 0.8rem 0;
    font-size: 2.4rem;
    margin: 0 1rem 0 1rem;
}

.button--auth {
    background-color: var(--main-green);
    transition: all 0.2s ease-in-out;
}

.button--auth:hover {
    background-color: var(--main-green--hover);
    transform: scale(1.02);
}

.button--auth:active {
    background-color: var(--main-green--active);
}


.button--reg {
    background-color: var(--main-yellow);
    transition: all 0.2s ease-in-out;
}

.button--reg:hover {
    background-color: var(--main-yellow--hover);
    transform: scale(1.02);
}

.button--reg:active  {
    background-color: var(--main-yellow--active);
}

.button--exit {
    background-color: var(--main-red);
    padding: 0.8rem 0 0.8rem 0;
    width: 25rem;
    transition: all 0.2s ease-in-out;
}

.button--exit:hover {
    background-color: var(--main-red--hover);
    transform: scale(1.02);
}

.button--exit:active {
    background-color: var(--main-red--active);
}

.icon-main {
    width: 5rem;
    margin-right: 1rem;
}

.icon-setting, .icon-close {
    margin-left: 2rem;
    fill: var(--main-yellow);
    width: 4.5rem;
}
