
.analytics {
    grid-template-columns: 1fr 1fr;
    /*padding: 0 0 20rem 0;*/
    font-weight: 700;
}

.analytics__main-bar,
.analytics__main-bar__calendar,
.analytics__main-bar__elem-result,
.analytics__main-bar__additional-information,
.analytics__main-bar__elem-middle-day,
.analytics__main-bar__elem-middle-week,
.analytics__all-blocks,
.analytics__two-block,
.analytics__buttons-section {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;

}

.analytics__main-bar__elem-result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: flex-start;
    column-gap: 1rem;
}

.analytics__main-bar__elem-middle-day,
.analytics__main-bar__elem-middle-week,
.analytics__two-block {
    flex-direction: column;
}

.analytics__main-bar {
    font-size: 2.4rem;
    height: 13rem;
}

.analytics-input-block {
    display: flex;
    align-items: center;
    min-height: 100%;
    /* flex-direction: column; */
}

.analytics__main-bar__calendar {
    margin-left: 2rem;
}


.icon-calendar {
    fill: var(--main-black);
    width: 4.5rem;
    margin-right: 2rem;
}

.search-error-img,
.icon-search {
    margin: 0 1rem 0 1rem;
    width: 4rem;
}



.analytics__main-bar__title {
    margin: 0 2rem 0 2rem;
}


.analytics__main-bar__additional-information {
    font-size: 2rem;
    margin-right: 10rem;
}

.analytics__main-bar__elem-middle-day,
.analytics__main-bar__elem-middle-week {
    margin: 0 2rem 0 2rem;
}

.analytics__all-blocks {
    padding-top: 3rem;
}

.analytics__all-blocks img {
    width: 85rem;
    height: 40rem;
}

.analytics__button {
    width: 25rem;
    text-align: center;
    padding: 2rem 0 2rem 0;
    margin: 0 3rem 0 3rem;
    font-size: 2.4rem;
}

.analytics__buttons-section {
    height: 10rem;
    justify-content: center;
}
