/*fonts-sizes
   12 14 16 18 20 22 24 26 28 32
*/

.balance-history {
    /*padding: 0 0 16rem 0;*/

}

.balance-history,
.data-title,
.data-list {
    display: flex;
}

.balance-history,
.data-list {
    flex-direction: column;
}


.data-stroke__button-block {
    display: flex;
    align-items: center;
}

.data-title__button {
    width: 3rem;
    height: 3rem;
    margin: 0 1rem 0 1rem;
    opacity: 0.2;
    justify-self: flex-start;
    transition: all 0.2s ease-in-out;
}

.data-title__button--two {
    justify-self: flex-end;
}

.data-title__button:hover {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    opacity: 1;
}

.data-title {
    font-size: 2.6rem;
    align-items: center;
    height: 6rem;
    background-color: var(--main-gray);
    border-top: 0.1rem solid var(--main-black);
    border-bottom: 0.1rem solid var(--main-black);
    padding-left: 17.4%;
}

.data-item {
    text-align: left;
    border-right: 0.1rem solid var(--main-black)
}

.data-item,
.data-item--empty {
    font-size: 2.4rem;
    display: inline-block;
    /* text-align: center; */
    border: none;
}


.date-item--time,
.data-item--decription {
    border: none;
}

/* .date-item--title{

} */

/* .date-item--type{

} */

.data-list {
    padding-bottom: 2rem;
    box-shadow:
        0 10px 10px -7px rgba(34, 34, 34, 0.3),
        0 -10px 10px -7px rgba(34, 34, 34, 0.3);
    position: relative;
}

.data-stroke {
    padding-left: 20%;
    display: grid;
    gap: 3rem;
    margin-top: 2rem;
    grid-template-columns: 1fr 1fr;
}

.data-stroke--empty {
    padding-left: 24.5%;
}

/* .data-list--history {

} */

.data-stroke--history {
    width: 70%;
    padding-left: 20%;
    grid-template-columns: 4fr 2fr 2fr 1fr 2fr;
}

/* .data-stroke__button-block--history {

} */

.data-title--history {
    padding-left: 21.6%;
}
