/*fonts-sizes
   12 14 16 18 20 22 24 26 28 32
*/

.categories {
    /*padding: 0 0 10rem 0;*/
}

.categories__list,
.categories__item,
.categories__item__background {
    justify-content: center;
}

.categories__list {
    padding: 5rem 0 11rem 0;
    display: grid;
    justify-items: center;
    row-gap: 4rem;
    font-size: 2rem;
    grid-template-columns: repeat(6, 20rem);
}

.categories__item,
.categories__item__background {
    display: flex;
}

.categories__item {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.categories__item__title,
.categories__item__price{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.categories__item__background {
    border-radius: 1rem;
    width: 7rem;
    height: 7rem;
}

.categories__item__image {
    width: 5rem;
}

.categories__change-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.change-section__button {
    font-size: 3.2rem;
    padding: 1rem 3rem 1rem 3rem;
    margin: 3rem 0 0rem 0;
}
.change-section__button--one {
    background-color: var(--main-red);
    box-shadow:
            5px 0 2px -1px rgba(219, 68, 55, 0.9),
            15px 0 3px -3px rgba(200, 64, 50, 0.7),
            25px 0 3px -6px rgba(180, 60, 45, 0.6),
            35px 0 4px -9px rgba(160, 56, 40, 0.5),
            45px 0 4px -12px rgba(140, 52, 35, 0.4),
            55px 0 5px -15px rgba(120, 48, 30, 0.3),
            65px 0 5px -18px rgba(110, 44, 25, 0.2),
            75px 0 6px -21px rgba(100, 40, 20, 0.1),
            -5px 0 2px -1px rgba(219, 68, 55, 0.9),
            -15px 0 3px -3px rgba(200, 64, 50, 0.7),
            -25px 0 3px -6px rgba(180, 60, 45, 0.6),
            -35px 0 4px -9px rgba(160, 56, 40, 0.5),
            -45px 0 4px -12px rgba(140, 52, 35, 0.4),
            -55px 0 5px -15px rgba(120, 48, 30, 0.3),
            -65px 0 5px -18px rgba(110, 44, 25, 0.2),
            -75px 0 6px -21px rgba(100, 40, 20, 0.1);
}
.change-section__button--two {
    background-color: var(--main-green);
    box-shadow:
            5px 0 2px -1px rgba(0, 190, 77, 0.9),
            15px 0 3px -3px rgba(0, 170, 67, 0.7),
            25px 0 3px -6px rgba(0, 150, 67, 0.6),
            35px 0 4px -9px rgba(0, 140, 57, 0.5),
            45px 0 4px -12px rgba(0, 120, 57, 0.4),
            55px 0 5px -15px rgba(0, 100, 47, 0.3),
            65px 0 5px -18px rgba(0, 80, 47, 0.2),
            75px 0 6px -21px rgba(0, 60, 37, 0.1),
            -5px 0 2px -1px rgba(0, 190, 77, 0.9),
            -15px 0 3px -3px rgba(0, 170, 67, 0.7),
            -25px 0 3px -6px rgba(0, 150, 67, 0.6),
            -35px 0 4px -9px rgba(0, 140, 57, 0.5),
            -45px 0 4px -12px rgba(0, 120, 57, 0.4),
            -55px 0 5px -15px rgba(0, 100, 47, 0.3),
            -65px 0 5px -18px rgba(0, 80, 47, 0.2),
            -75px 0 6px -21px rgba(0, 60, 37, 0.1);
}


