
.income {
    color: var(--main-green);
}
.expenses {
    color: var(--main-red);
}

.bgincome {
    background: var(--main-green);
}
.bgexpenses {
    background: var(--main-red);
}

.result {
    color: var(--main-yellow);
}

.color-empty {
    background-color: rgb(0,0,0,0);
    border: 0.2rem dashed var(--main-black);
}

.bgcolor-1 {
    background-color: var(--category-blue);
}
.color-1 {
    color: var(--category-blue);
}

.bgcolor-2 {
    background-color: var(--category-pink);
}
.color-2 {
    color: var(--category-pink);
}

.bgcolor-3 {
    background-color: var(--category-yellow);
}
.color-3 {
    color: var(--category-yellow);
}

.bgcolor-4 {
    background-color: var(--category-green);
}
.color-4 {
    color: var(--category-green);
}

.bgcolor-5 {
    background-color: var(--category-orange);
}
.color-5 {
    color: var(--category-orange);
}

.bgcolor-6 {
    background-color: var(--category-turquoise);
}
.color-6 {
    color: var(--category-turquoise);
}

.bgcolor-7 {
    background-color: var(--category-red);
}
.color-7 {
    color: var(--category-red);
}

.bgcolor-8 {
    background-color: var(--category-light-green);
}
.color-8 {
    color: var(--category-light-green);
}

.bgcolor-9 {
    background-color: var(--category-dark-orange);
}
.color-9 {
    color: var(--category-dark-orange);
}

.bgcolor-10 {
    background-color: var(--category-light-turquoise);
}
.color-10 {
    color: var(--category-light-turquoise);
}

.bgcolor-11 {
    background-color: var(--category-dark-green);
}
.color-11 {
    color: var(--category-dark-green);
}

