.container-for-vue {
    display: contents;
}

.general,
.balance-history,
.categories,
.analytics {
    width: 93%;
    margin: 0 auto 0 auto;
    background-color: var(--main-white);
    color: var(--main-black);
    /*flex: 1 0 auto;*/
}

html,
body {
    height: 100%;
    margin: 0;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#app {
    height: 100%;
}

main {
    flex: 1 0 auto;
    min-height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

html {
    background-color: var(--second-white);
    font-family: var(--main-font);
    line-height: 1.5;
    letter-spacing: 0.05rem;
    font-weight: 500;
    font-size: 62.5%;
}

.button {
    border-radius: 0.5rem;
    color: var(--main-white);
    font-weight: bold;
    border: none;
    background: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-size: 1em;
}
