:root {
    --main-blue: #007C8D;
    --main-blue--hover: #006977;
    --main-blue--active: #005661;;

    --main-yellow: #DFAD00;
    --main-yellow--hover: #e7b500;
    --main-yellow--active: #d3a500;

    --main-green: #00C064;
    --main-green--hover: #00ce6a;
    --main-green--active: #00ad5a;

    --main-red: #DB4437;
    --main-red--hover: #ee4d3f;
    --main-red--active: #cf4134;


    --main-white: #F8F8F8;
    --second-white: #EFEFEF;
    --main-black: #222222;

    --main-gray: #E1E1E1;
    --second-gray: #b8b8b8;

    --category-blue: #4285F4;
    --category-pink: #F06292;
    --category-yellow: #E5CF00;
    --category-green: #00BF4D;
    --category-orange: #FF8058;
    --category-turquoise: #00ACC1;
    --category-red: #DB4437;
    --category-light-green: #8BCC00;
    --category-violet: #AB47BC;
    --category-dark-orange: #C58000;
    --category-light-turquoise: #5FDAB3;
    --category-dark-green: #14721F;


    --current-balance-green: rgba(0, 192, 99, 0.2);
    --current-balance-reg: rgba(219, 69, 55, 0.2);


    --main-font: "Roboto", sans-serif;

    --animation: 0.155s ease-in-out;
}




